/* Add your CSS styles here */
header {
    background-color: #798071;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #999AC6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #798071;
}

#result-container {
    margin-top: 20px;
    font-size: 24px;
}
